In [1]:
!python --version

Python 3.11.9

In [2]:
import pandas as pd
import numpy as np

## Q1. Pandas version

In [3]:
pd.__version__

'2.2.2'

In [4]:
!mkdir data

mkdir: cannot create directory ‘data’: File exists

In [5]:
!ls

data  homework.ipynb

## Q2. Records count

In [6]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

--2024-09-23 09:55:43--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 298573 (292K) [text/plain]
Saving to: ‘laptops.csv’

laptops.csv         100%[===================>] 291.58K  --.-KB/s    in 0.06s

2024-09-23 09:55:43 (4.49 MB/s) - ‘laptops.csv’ saved [298573/298573]

In [7]:
!ls

data  homework.ipynb  laptops.csv

In [8]:
!mv laptops.csv data

In [9]:
!ls data

laptops.csv

In [10]:
df_laptops = pd.read_csv('data/laptops.csv')

In [11]:
df_laptops.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [12]:
len(df_laptops)

2160

In [13]:
df_laptops.shape

(2160, 12)

## Q3. Laptop brands

In [14]:
df_laptops.Brand.unique()

array(['Asus', 'Alurin', 'MSI', 'HP', 'Lenovo', 'Medion', 'Acer', 'Apple',
       'Razer', 'Gigabyte', 'Dell', 'LG', 'Samsung', 'PcCom', 'Microsoft',
       'Primux', 'Prixton', 'Dynabook Toshiba', 'Thomson', 'Denver',
       'Deep Gaming', 'Vant', 'Innjoo', 'Jetwing', 'Millenium', 'Realme',
       'Toshiba'], dtype=object)

In [15]:
df_laptops['Brand'].unique()

array(['Asus', 'Alurin', 'MSI', 'HP', 'Lenovo', 'Medion', 'Acer', 'Apple',
       'Razer', 'Gigabyte', 'Dell', 'LG', 'Samsung', 'PcCom', 'Microsoft',
       'Primux', 'Prixton', 'Dynabook Toshiba', 'Thomson', 'Denver',
       'Deep Gaming', 'Vant', 'Innjoo', 'Jetwing', 'Millenium', 'Realme',
       'Toshiba'], dtype=object)

In [16]:
len(df_laptops['Brand'].unique())

27

In [17]:
df_laptops['Brand'].describe()

count     2160
unique      27
top       Asus
freq       415
Name: Brand, dtype: object

## Q4. Missing values

In [18]:
df_laptops.isna().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [19]:
df_laptops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

In [20]:
df_laptops.isnull().any()

Laptop          False
Status          False
Brand           False
Model           False
CPU             False
RAM             False
Storage         False
Storage type     True
GPU              True
Screen           True
Touch           False
Final Price     False
dtype: bool

In [21]:
df_laptops.isnull().any().sum()

3

## Q5. Maximum final price

In [22]:
df_laptops.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [23]:
df_laptops['Brand'] == 'Dell'

0       False
1       False
2       False
3       False
4       False
        ...
2155    False
2156    False
2157    False
2158    False
2159    False
Name: Brand, Length: 2160, dtype: bool

In [24]:
df_dell = df_laptops[df_laptops['Brand'] == 'Dell']
df_dell

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
161,Dell Vostro 3510 Intel Core i3-1115G4/8 GB/256...,New,Dell,Vostro,Intel Core i3,8,256,SSD,NaN,15.6,No,599.00
271,Dell Vostro 3510 Intel Core i5-1135G7/8 GB/256...,New,Dell,Vostro,Intel Core i5,8,256,SSD,NaN,15.6,No,690.15
281,Dell Vostro 3520 Intel Core i7-1255U/16GB/512G...,New,Dell,Vostro,Intel Core i7,16,512,SSD,NaN,15.6,No,889.00
319,Dell Latitude 3520 Intel Core i5-1135G7/8GB/25...,New,Dell,Latitude,Intel Core i5,8,256,SSD,NaN,15.6,No,789.00
328,Dell Vostro 3510 Intel Core i5-1135G7/16 GB/51...,New,Dell,Vostro,Intel Core i5,16,512,SSD,NaN,15.6,No,869.00
...,...,...,...,...,...,...,...,...,...,...,...,...
1843,Dell Vostro 5301 Intel Core i5-1135G7/8GB/256G...,Refurbished,Dell,Vostro,Intel Core i5,8,256,SSD,NaN,13.3,No,420.74
1844,Dell Vostro 5301 Intel Core i5-1135G7/8GB/512G...,Refurbished,Dell,Vostro,Intel Core i5,8,512,SSD,NaN,13.3,No,511.59
1845,Dell Vostro 5502 Intel Core i5-1135G7/8GB/512G...,Refurbished,Dell,Vostro,Intel Core i5,8,512,SSD,NaN,15.6,No,549.93
1846,Dell XPS 13 9300 Intel Core i5-1035G1/8GB/512G...,Refurbished,Dell,XPS,Intel Core i5,8,512,SSD,NaN,13.4,No,699.00
1847,Dell XPS 7390 Intel Core i7-10510U/16GB/512GB ...,Refurbished,Dell,XPS,Intel Core i7,16,512,SSD,NaN,13.3,No,1086.88

In [25]:
df_dell.describe()

             RAM      Storage     Screen  Final Price
count  84.000000    84.000000  84.000000    84.000000
mean   11.380952   395.142857  14.686905  1153.839881
std     4.583640   175.543846   1.023669   671.795071
min     4.000000   128.000000  13.000000   379.000000
25%     8.000000   256.000000  14.000000   699.000000
50%     8.000000   256.000000  14.500000  1003.000000
75%    16.000000   512.000000  15.600000  1313.810000
max    32.000000  1000.000000  17.000000  3936.000000

In [26]:
df_dell['Final Price'].max()

3936.0

## Q6. Median value of Screen

In [27]:
df_laptops['Screen'].describe()

count    2156.000000
mean       15.168112
std         1.203329
min        10.100000
25%        14.000000
50%        15.600000
75%        15.600000
max        18.000000
Name: Screen, dtype: float64

In [28]:
df_laptops['Screen'].quantile(0.5)

15.6

In [29]:
df_laptops['Screen'].median()

15.6

In [30]:
df_laptops['Screen'].value_counts()

Screen
15.60    1009
14.00     392
16.00     174
17.30     161
13.30     131
16.10      48
17.00      33
13.00      27
15.00      21
13.50      19
13.40      19
11.60      16
14.20      14
12.30      13
14.10      11
13.60      11
16.20      10
15.30       8
10.50       7
14.40       6
12.40       6
15.40       5
12.00       4
18.00       3
14.50       3
13.90       2
12.50       1
10.10       1
10.95       1
Name: count, dtype: int64

In [31]:
df_laptops['Screen'].mode()

0    15.6
Name: Screen, dtype: float64

In [32]:
df_laptops.fillna({'Screen': df_laptops['Screen'].mode()[0]}, inplace=True)

In [33]:
df_laptops['Screen'].median()

15.6

In [34]:
df_laptops.isna().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             0
Touch              0
Final Price        0
dtype: int64

## Q7. Sum of weights

In [35]:
df_innjoo = df_laptops[df_laptops['Brand'] == 'Innjoo']
df_innjoo

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02
1483,Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...,New,Innjoo,Voom,Intel Celeron,6,128,eMMC,NaN,14.1,No,431.38

In [36]:
X = df_innjoo[['RAM', 'Storage', 'Screen']].values
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [37]:
XTX = X.T @ X
XTX

array([[2.52000e+02, 8.32000e+03, 5.59800e+02],
       [8.32000e+03, 3.68640e+05, 1.73952e+04],
       [5.59800e+02, 1.73952e+04, 1.28196e+03]])

In [38]:
XTX = np.matmul(X.T, X)
XTX

array([[2.52000e+02, 8.32000e+03, 5.59800e+02],
       [8.32000e+03, 3.68640e+05, 1.73952e+04],
       [5.59800e+02, 1.73952e+04, 1.28196e+03]])

In [39]:
invXTX = np.linalg.inv(XTX)
invXTX

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [40]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])
y

array([1100, 1300,  800,  900, 1000, 1100])

In [41]:
invXTXT = invXTX @ X.T
invXTXT

array([[ 0.26298349, -0.12560233, -0.40646389,  0.14958687,  0.05244042,
         0.05244042],
       [-0.00110155,  0.00295059,  0.00125892, -0.00177691, -0.00076387,
        -0.00076387],
       [-0.08772226,  0.0269791 ,  0.17140891, -0.0302108 , -0.00153546,
        -0.00153546]])

In [42]:
w = invXTXT @ y
w

array([45.58076606,  0.42783519, 45.29127938])

In [43]:
invXTX @ X.T @ y

array([45.58076606,  0.42783519, 45.29127938])

In [44]:
w.sum()

91.29988062995815